#map-container {
  height: 100%;
  width: 100%;
  position: relative;

  .map-controls {
    position: absolute;
    top: 10px;
    background-color: rgba(145, 149, 150, .5 );
    width: 30%;
    height: 30%;
  }
}