.list-container {
  height: 100%;
  width: 50%;
  position: relative;
  overflow: scroll;
  overflow-x: hidden;

  ul {
    text-align: center;
    max-height: inherit;
    padding: 0;

    li {
      color: #778396;
      list-style: none;
      margin: 8px;
      padding: 5px 0 5px 0;
      cursor: pointer;
      background-color: aliceblue;

      &:hover {
        color: black;
        font-weight: bold;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
      }
    }

    .active {
      background-color: #37ffdc;
    }

    input {
      width: 90%;
    }
  }
}
